<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sneaker Bot</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><img height="auto" width="100px" alt="logo" src="{% static 'img/SneakerBotLogo.png' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'input' %}">Cart</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about' %}">About Us
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <!--Empty row-->
    </div>
    <div class="row align-items-center my-5">
      <h1>About Us</h1>
      <p>The Sneakerbot company is the easiest way for you to get the shoes you want, the day they come out. Are you a sneaker enthusiast? Let us help you get those sneakers you've been waiting for. Using the latest technologies, we are able to get your shoes on-time every time.</p>
      <h2>How does it work?</h2>
      <p>For a small fee of $10 added onto the original price, the Sneakerbot company workes with our advanced resources and connections to find and buy new sneakers on release day. Gone are the days of refreshing a webpage tirelessly just to find
        that the shoe you want is already purchased. We will use our resources to buy the shoe you want most. Just select your shoe, and we will do the rest.
      </p>
    </div>
    <div class="row align-items-center my-5">
      <!--Empty row-->
    </div>
    <!-- /.row -->

   </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Sneaker Bot 2020</p><br>
      <p class="m-0 text-center text-white">Every purchase is a chance to buy sneakers on the day that they drop. No purchase is guaranteed, and you will not be charged for an unsuccessful bot run.</p>
      <div class="d-flex justify-content-center">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
          ><img
            src="https://cdn.glitch.com/1efb7f80-a00c-4adb-854e-792b6291a964%2Ffacebook.png?v=1602199903883"
            alt="Facebook logo"
        /></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"
          ><img
            src="https://cdn.glitch.com/1efb7f80-a00c-4adb-854e-792b6291a964%2Ftwitter.png?v=1602199905859"
            alt="Twitter logo"
        /></a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"
          ><img
            src="https://cdn.glitch.com/1efb7f80-a00c-4adb-854e-792b6291a964%2Fyoutube.png?v=1602199907450"
            alt="YouTube logo"
        /></a>
        </div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
