<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sneaker Bot</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><img height="auto" width="100px" alt="logo" src="{% static 'img/SneakerBotLogo.png' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'input' %}">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'contact' %}">Contact
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <form action="/my-handling-form-page" method="post">
            <ul style="list-style-type: none;">
              <li>
                <label for="name">Name:</label>
                <input type="text" id="name" name="user_name" />
              </li>
              <li>
                <label for="mail">E-mail:</label>
                <input type="email" id="mail" name="user_email" />
              </li>
              <li>
                <label for="msg">Message:</label>
                <textarea id="msg" name="user_message"></textarea>
              </li>
              <li class="button">
                <button type="submit">Send your message</button>
              </li>
            </ul>
          </form>
          <script>
            const feedbackElement = document.getElementById("feedback");
            const formElement = document.forms[0];
            formElement.addEventListener("submit", function(e) {
              e.preventDefault();
              feedbackElement.innerHTML =
                "Hello " +
                formElement.user_name.value +
                "! Thank you for your message. We will get back with you as soon as possible!";
              feedbackElement.style.display = "block";
              document.body.classList.toggle("moveDown");
            });
          </script>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

   
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Sneaker Bot 2020</p><br>
      <p class="m-0 text-center text-white">Every purchase is a chance to buy sneakers on the day that they drop. No purchase is guaranteed, and you will not be charged for an unsuccessful bot run.</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
