<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sneaker Bot</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><img height="auto" width="100px" alt="logo"
          src="{% static 'img/SneakerBotLogo.png' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'input' %}">Cart
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <form action="{% url 'runBot' %}">
      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-5">
          <h2>Contact Information</h2>
          <!--First Name-->
          <label for="first_name">First Name: </label>
          <input type="text" name="first_name"><br>
          <!--Last Name-->
          <label for="last_name">Last Name: </label>
          <input type="text" name="last_name"><br>
          <!--Email-->
          <label for="email">Email: </label>
          <input type="email" name="email"><br><br>

          <!--SHIPPING INFORMATION-->
          <h2>Shipping Info</h2>
          <!--Address-->
          <label for="addr">Street Address:</label>
          <input type="text" name="addr"><br>
          <!--City-->
          <label for="city">City:</label>
          <input type="text" name="city"><br>
          <!--State-->
          <label for="state">State:</label>
          <input type="text" name="state"><br>
          <!--Zip Code-->
          <label for="zip_code">Zip Code:</label>
          <input type="text" name="zip_code"><br><br>
          <!--CARD INFO-->
          <h2>Payment Information</h2>
          <!--Card Number-->
          <label for="card_number">Card Number:</label>
          <input type="number" name="card_number"><br>
          <!--Exp Date-->
          <label for="exp_date">Expiration Date</label>
          <input type="month" name="exp_date"><br>
          <!--CCV Security Number-->
          <label for="ccv">CCV:</label>
          <input type="number" name="ccv"><br>
          <!--Shoe Size Dropdown-->
          <label for="shoe_size">Shoe Size: </label>
          <select name="shoe_size">
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
            <option value="5.5">5.5</option>
            <option value="6">6</option>
            <option value="6.5">6.5</option>
            <option value="7">7</option>
            <option value="7.5">7.5</option>
            <option value="8">8</option>
            <option value="8.5">8.5</option>
            <option value="9">9</option>
            <option value="9.5">9.5</option>
            <option value="10">10</option>
            <option value="10.5">10.5</option>
            <option value="11">11</option>
            <option value="11.5">11.5</option>
            <option value="12">12</option>
            <option value="12.5">12.5</option>
            <option value="13">13</option>
          </select><br>
          <!--SUBMIT & RESET-->
          <input type="submit">
          <input type="reset">
        </div>
        <!-- /.col-lg-8 -->
      <div class="col">
        <div class="row">
          <div class="col-lg-7">
            <div class="col-md-6 mb-10">
              <div class="card h-50 d-inline-block"  style="width: 300px; height: 300px;">
                <div class="card-body" style="width: 100%; height: auto;">
                  <h4 class="card-title">Air Jordan 11 Jubilee</h4>
                  <img alt="" width="100%" height="auto" src="{% static 'img/aj11Jubilee.jpg' %}">
                </div>
                <div class="card-footer">
                  <a href="https://www.nike.com/launch/t/air-jordan-11-jubilee" class="btn btn-primary btn-sm">More
                    Info</a>
                  <input type="radio" id="maize" name="sneaker"
                    value="https://www.nike.com/launch/t/dunk-high-varsity-maize">
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-6 mb-10">
              <div class="card h-50 d-inline-block" style="width: 300px; height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">Air Max 1 Lemonade</h5>
                  <img alt="" height="auto" width="100%" src="{% static 'img/am1Lemonade.jpg' %}">
                </div>
                <div class="card-footer">
                  <a href="https://www.nike.com/launch/t/air-max-1-lemonade" class="btn btn-primary btn-sm">More
                    Info</a>
                  <input type="radio" id="maize" name="sneaker"
                    value="https://www.nike.com/launch/t/dunk-high-varsity-maize">
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-5">
              <div class="col-md-6 mb-10">
                <div class="card h-50 d-inline-block" style="width: 300px; height: 300px;">
                  <div class="card-body">
                    <h4 class="card-title">Kobe V Bruce Lee</h4>
                    <img alt="" height="auto" width="100%" src="{% static 'img/kb5BruceLee.jpg' %}">
                  </div>
                  <div class="card-footer">
                    <a href="https://www.nike.com/launch/t/kobe-5-protro-bruce-lee" class="btn btn-primary btn-sm">More
                      Info</a>
                    <input type="radio" id="maize" name="sneaker"
                      value="https://www.nike.com/launch/t/dunk-high-varsity-maize">
                  </div>
                </div>
              </div>
              <div class="w-100"></div>
              <!-- /.col-md-4 -->
              <div class="col-md-10 mb-10">
                <div class="card h-50 d-inline-block" style="width: 300px; height: 300px;">
                  <div class="card-body">
                    <h4 class="card-title">Kobe V Bruce Lee</h4>
                    <img alt="" height="auto" width="100%" src="{% static 'img/kb5BruceLee.jpg' %}">
                  </div>
                  <div class="card-footer">
                    <a href="https://www.nike.com/launch/t/kobe-5-protro-bruce-lee" class="btn btn-primary btn-sm">More
                      Info</a>
                    <input type="radio" id="maize" name="sneaker"
                      value="https://www.nike.com/launch/t/dunk-high-varsity-maize">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-5">
          <form>
            <input type="radio" id="maize" name="sneaker" value="https://www.nike.com/launch/t/dunk-high-varsity-maize">
            <label for="maize"><img src="{% static 'img/Maize dunks.jpeg' %}" alt=""></label>
            <input type="radio" id="jbalvin" name="sneaker" value="https://www.nike.com/launch/t/air-jordan-1-j-balvin">
            <label for="jbalvin"><img src="{% static 'img/J Balvin 1.jpeg' %}" alt=""></label>
          </form>
          <h1 class="font-weight-light">Welcome to Sneaker Bot!</h1>
          <p>Our business is here to serve you in purchasing the best upcoming sneakers. Using modern-day technology, we are here to help you secure the hottest sneakers!</p>
          <a class="btn btn-primary" href="#">Buy Shoes Here</a>
      </div> -->
      </div>
    </form>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Sneaker Bot 2020</p><br>
      <p class="m-0 text-center text-white">Every purchase is a chance to buy sneakers on the day that they drop. No
        purchase is guaranteed, and you will not be charged for an unsuccessful bot run.</p>
        <div class="d-flex justify-content-center">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
            ><img
              src="https://cdn.glitch.com/1efb7f80-a00c-4adb-854e-792b6291a964%2Ffacebook.png?v=1602199903883"
              alt="Facebook logo"
          /></a>
          <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"
            ><img
              src="https://cdn.glitch.com/1efb7f80-a00c-4adb-854e-792b6291a964%2Ftwitter.png?v=1602199905859"
              alt="Twitter logo"
          /></a>
          <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"
            ><img
              src="https://cdn.glitch.com/1efb7f80-a00c-4adb-854e-792b6291a964%2Fyoutube.png?v=1602199907450"
              alt="YouTube logo"
          /></a>
          </div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>